<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Cart_PopUp"
            android:screenOrientation="landscape"  />
        <activity
            android:name=".Exit_PopUp"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Pop_up" />
        <activity
            android:name=".Game"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Change_Team_Name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Pop_up" />
        <activity
            android:name=".Random_Teams"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Choose_your_destiny"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Delete_PlayerFromTeam_PopUp"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Pop_up" />
        <activity
            android:name=".Delete_team_PopUp"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Pop_up" />
        <activity
            android:name=".CreateTeam_Pop_up"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Pop_up" />
        <activity
            android:name=".Preferences_Team"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Delete_pop_up"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Pop_up" />
        <activity
            android:name=".Pop_up_names"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Pop_up" />
        <activity
            android:name=".Choose_names"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Help"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>